.cabeçalho {
    background-color:darkslateblue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
*{
    margin: 1;
    padding: 0;
}
.cabeçalho-imagem{
    width: 1%;
    height: 1%;
    ;
}
.cabeçalho-item{
    display:inline-block;
}
.cemag{
    background-color:darkslateblue;
    color: rgb(255, 255, 255);
    
}
